.content {
  border: 1px solid black;
  height: 100%;
}

.container {
  border: 1px solid pink;
  width: 60%;
}

.actionHeader {
  text-align: center;
}

.board{
  height: 500px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'LobsterTwo';
  font-weight: bold;
}

.order-heading{
  font-size: 50px;
  font-family: 'LobsterTwo';
  font-weight: bold;
}

.contact-us{
  margin-top: 40px;
}

.form-control {
  width:65%;
}

.angular-google-map-container {
  height: 400px;
}

#pizza{
  border: 1px solid black;
  background-image: url('../images/assets/board-3.jpg');
  height: 647px;
  margin-top: -30px;
}

#pizzapicture{
  padding-top: 193px;
}

#pizzatext{
  padding-top: 160px;
  margin-bottom: -175px;
}

#salad{
  border: 1px solid black;
  background-image: url('../images/assets/board-2.jpg');
}

#saladpicture{
  padding-top: 37px;
  padding-right: 60px;
}

#wings{
  border: 1px solid black;
  background-image: url('../images/assets/board-4.jpg');
}

#wingspicture{
  padding-top: 36px;
  padding-left: 15px;
}

#wingstext{
  padding-top: 25px;
  margin-bottom: -25px;
}

#drinks{
  border: 1px solid black;
  background-image: url('../images/assets/board-5.jpg');
}

#drinkspicture{
  padding-left: 35px;
}

#slice-section {
  background-image: url('../images/assets/board-4.jpg');
  height: 250px;
  padding-top: 0;
  h1 {
    color: white;
    font-family: 'BenchNine';
    font-weight: bold;
    font-size: 72px;
  }
}

#fullpizza {
  background-image: url('../images/assets/fullpizza.jpg');
}

#store-hours {
  margin-top: 20px;
}

#contactField {
  border-radius: 5px;
  padding-left: 5px;
  color: black;
}

