.content {
  border: 1px solid black;
  height: 2000px;
}

.container {
  border: 1px solid pink;
  width: 60%;
}

.actionHeader {
  text-align: center;
}



.board {
  background-image: url('../images/assets/board.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.angular-google-map-container { height: 400px; }

.form-control {
  width:65%;
}

.center-block {
  float: none;
}

#map {
  height: 300px;
}

#slice-section {
  height: 20vh;
}

#contact-us{
  margin-top: 40px;
}


#store-hours {
  margin-top: 20px;
}

#contactField {
  border-radius: 5px;
  padding-left: 5px;
  color: black;
}

