.content {
  border: 1px solid black;
  height: 2000px;
}

.container {
  border: 1px solid pink;
}

.actionHeader {
  text-align: center;
}

.board {
  background-image: url('../images/assets/board.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
