// Partial which contains styles for the header
.navbar-fixed-top {
  min-height: 222px;
  border: 1px solid black;
}

.navbar-inner {
  background: transparent;
}

// .navbar-brand {
//   position: absolute;
//   width: 100%;
//   left: 0;
//   top: 0;
//   text-align: center;
//   margin: auto;
// }
