// Partial which contains styles for the header
.navbar-fixed-top {
  min-height: 222px;
  border: 1px solid black;
  background-color: #fff;
  background-color: rgba(0,0,0,0.5);
}

.navbar-inner {
  background: transparent;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
    padding-top: 35px;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
    a {
      color: white;
      font-family: 'Langdon';
      &:hover {
        background: none;
      }

    }

  }
  // .navbar-nav > li.navbar-right {
  //   float: right !important;
  // }

  #logo {
    margin-bottom: 20px;
  }

  .order-heading {
    color: white;
    font-family: 'BeachNine';
  }

}
