$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Import fonts
@font-face {
  font-family: 'Langdon';
  src: url('../images/fonts/Langdon/Langdon.otf');
}

@font-face {
  font-family: 'BenchNine';
  src: url('../images/fonts/BenchNine/BenchNine-Regular.ttf');
}

@font-face {
  font-family: 'BenchNine';
  src: url('../images/fonts/BenchNine/BenchNine-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'BenchNine';
  src: url('../images/fonts/BenchNine/BenchNine-Light.ttf');
  font-weight: lighter;
}

// Import sass partials
@import "_header-style.scss";
@import "_content-style.scss";
@import "_footer-style.scss";
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height:100%;
}

h1 {
  padding: 0;
  margin: 0;
}

#container {
   min-height:100%;
   margin-bottom: 118px;
   position:relative;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
