<div class="container-fluid">
  <div class="row" id="footer-row">
    <div class="col-md-3">
      <h2> ORANGE FLAMES </h2>
    </div>
    <div class="col-md-3">
      <ul class="footer-menu">
        <li><a ui-sref="menuState"> MENU </a></li>
        <li><a ui-sref="contactState">LOCATION</a></li>
        <li><a ui-sref="aboutState">WHO WE ARE</a></li>
        <li><a ui-sref="contactState">CONTACT US </a></li>
        <li><a ui-sref="homeState"> HIRING </a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2> Store Hours </h2>
        <table>
          <tr>
            <td> Monday - Friday </td>
            <td> 10am - 2am </td>
          </tr>
          <tr>
            <td> Saturday </td>
            <td> 11am - 1am </td>
          </tr>
          <tr>
            <td> Sunday </td>
            <td> 11am - Midnight </td>
          </tr>
        </table>
    </div>
    <div class="col-md-3">
      <form role="form">
        <input type="text" placeholder="Connect with Us">
      </form>
      <button type="submit" class="btn btn-default"> Join </button>
    </div>
  </div>
  <p id="centerMe">Made with <span class="glyphicon glyphicon-heart"></span> by <a href="http://atlasmedia.ca"> Atlas Media </a> </p>
</div>
