<div class="board" id="about-header">
 <div class="header-text">
   <h1> MADE WITH </h1>
   <h1> THE FINEST </h1>
   <h1> INGREDIENTS. </h1>
 </div>
</div>

<div class="about-info">
  <div id="about-text">
    <h2> Fast. Natural. Delicious. </h2>
    <p> At Orange Flame we believe that you deserve excellent food, the way you want it and quickly.
        Our pizza and wings are made from healthy ingredients that are mostly natural and
        local. Our salads combine the finest fresh vegetables, meat and cheese.  Whatever you
        choose, we create a gourmet food experience to your taste. At the same time, the food is
        ready in minutes so you spend your time enjoying it, not waiting for it.  Buonappetito!
    </p>
  </div>
  <div id= "about-image">
  <img src="images/assets/our_story_pizza_guy.png" id="about-pic">
  </div>
</div>
