<div class="container">
  <div class="row" style="height: 600px;">
    <h1 class="actionHeader"> Reach Us </h1>
    <div class="col-md-4">
      <h2> Store Hours </h2>
      <table>
        <tr>
          <td> Monday - Friday </td>
          <td> 10am - 2am </td>
        </tr>
        <tr>
          <td> Saturday </td>
          <td> 11am - 1am </td>
        </tr>
        <tr>
          <td> Sunday </td>
          <td> 11am - Midnight </td>
        </tr>
      </table>
      <h2> Locations </h2>
        <p> WATERLOO, ON </p>
        <p> Linden Square <br/> 203 Lester St., at University Ave </p>
        <br/>
        <p> 519 888 9993 </p>
    </div>
    <div class="col-md-8">
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="email" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="pwd" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
<div class="row" style="height: 350px;">
  Image?
</div>
<div class="row" style="height: 270px; border: 1px solid yellow;">
  <h1 id="centerMe" style="vertical-align: middle;"> VISIT AND HAVE A SLICE WITH US! </h1>
</div>
