<div class="board" id="fullpizza">
</div>
<h1 class="actionHeader"> Come Work With Us!</h1>

<div class="about-info">
  <div id="about-text" style="font-family: 'BenchNine' sans-serif;">
    <h2> Best Food in Town </h2>
    <p> Do you love cooking? Does creating fast-gourmet food sound interesting to you?
        If so, Orange Flame is looking for hardworking team members. Tell us a little
        bit about yourself and what you can do for Orange Flame's team. Download our
        application form here.
    </p>
    <p> Send us your resume! <a href="mailto:jobs@orangeflames.com">jobs@orangeflames.com</a></p>
  </div>
  <div id= "about-image">
  <img src="images/assets/hiring.png" id="about-pic">
  </div>
</div>

