<div class="board" id="main-header">
  <div class="header-text">
    <h1> EXPRESS PIZZA. </h1>
    <h1> ONE SIZE. </h1>
    <h1> UNLIMITED TOPPINGS. </h1>
    <button type="submit" class="btn btn-default" id="joinButton"> START YOUR ORDER </button>
  </div>
</div>
<ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="false" options="map.options"></ui-gmap-google-map>
<div class="board" id="location-section">
  <div id="waterloo-location">
    <h1> Waterloo </h1>
    <p> Linden Square Food Court <br />
        203 Lester St. at University Ave. <br />
        519 888 9993
    </p>
  </div>
  <div id="toronto-location">
    <h1> Toronto </h1>
    <p id="colorMeRed"> COMING SOON! </p>
  </div>
</div>
