 <div class="board" id="pizza">
        <h1 class="order-heading" id="pizzatext"> <b> Pizza  </b> </h1>
        <a href="/checkout"  id= "pizzapicture"><img src="../images/assets/cropped-pizza.png" class="image-menu"></a>
</div>

<div class="board" id="salad">
  <h1 class="order-heading" id="saladtext"> Salad </h1>
  <a ng-href="/checkout" id= "saladpicture"><img src="../images/assets/salad2.png" class="image-menu"></a>
</div>

<div class="board" id="wings">
  <h1 class="order-heading"> Wings </h1>
  <a href="/checkout" id= "wingspicture"><img src="../images/assets/wings-image.png" class="image-menu"></a>
</div>

<div class="board" id="drinks">
  <h1 class="order-heading"> Drinks and Deserts </h1>
  <a href="/checkout" id= "drinkspicture"><img src="../images/assets/smoothy-image.png" class="image-menu1"></a>
</div>
